form
{
	margin: 0 auto;
	width: 405px;
	padding: 1em;
	border: 3px solid #CCC;
	border-radius: 3em;
}
body
{
	background-color: #443333;
	color: white;
	margin: 25px;
	border-radius: 3px;
	font-family: quicksandregular, Arial, sans-serif;
}
header
{
	background-color: #ccabab;
	color: white;
	border-radius: 3px;
	box-shadow: 3px 3px 5px white;
}
nav
{
	background-color: #cbcbcb;
	color: black;
	width: 21%;
	float:left;
	border-radius: 3px;
	box-shadow: 3px 3px 5px white;
}
section
{
	background-color: #eedcfc;
	color: black;
	width: 76%;
	margin-left: 24%;
	border-radius: 3px;
	box-shadow: 3px 3px 5px white;
}
article
{
	margin: 25px 25px 25px 25px;
	background-color: #eedcfc;
	color: black;
}
footer
{
	background-color: #aebeae;
	color: blue;
	border-radius: 3px;
	box-shadow: 3px 3px 5px white;
}
#bloc_page
{
	width: 753px
}
.marge
{
margin-left: 5em;
}

